@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100%;
}

.lineClamp1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* Change this number to the desired number of lines */
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .text-micro {
  font-size: 0.6875rem !important;
  font-weight: 400 !important;
  line-height: 0.75rem !important;
} */

.scroll-content {
  overflow: auto;
}
.scroll-content::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.scroll-content:hover::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border-style: dashed;
  border-color: transparent;
  border-width: 2px;
  background-color: #b9bfca;
  background-clip: padding-box;
}

.scroll-content:hover::-webkit-scrollbar-thumb:hover {
  background: "#b9bfca";
}

.scroll-bar-hidden::-webkit-scrollbar {
  display: "none";
}

.text-ellipsis-1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-ellipsis-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 限制显示的文本行数为 2 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; /* 允许文本换行 */
}

.text-ellipsis-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* 限制显示的文本行数为 2 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; /* 允许文本换行 */
  word-break: break-all;
}
